@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.backDropButton {
  position: absolute;
  cursor: default;
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: colors.$MODAL_BACKDROP_BACKGROUND;
  opacity: 1;
  animation: openBackDrop 0.2s linear;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 420px;
  height: auto;
  padding: 10px;
  overflow: hidden;
  line-height: 1.5715;
  color: colors.$BLACK;
  background-color: colors.$GRAYE;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  animation: openModal 0.3s linear;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  img {
    width: 80px;
    max-width: 80px;
    max-height: 210px;
    margin-right: 10px;
  }

  .title {
    max-height: 48px;
    font-weight: 600;
  }

  dt {
    margin-bottom: 7px;
  }

  dd {
    line-height: 1.5em;
    color: colors.$BLACK;
  }
}

.content {
  padding: 10px 30px 30px;

  .inputForm {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    > * {
      font-size: 13px !important;
    }

    .iconHidden {
      display: none;
    }

    svg {
      position: absolute;
      block-size: 10px;
      top: 30px;
      right: 10px;
      width: fit-content;
      cursor: pointer;
      opacity: 0.3;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  input[type='text'],
  input[type='number'] {
    padding: 5px;
    border-bottom: 1px solid gray;
  }

  .inputRadio {
    display: flex;
    justify-content: space-between;

    input + label {
      width: 100%;
      padding: 8px 10px;
      margin: 15px 10px 5px 0;
      font-size: 13px;
      color: rgb(73, 80, 87);
      text-align: center;
      letter-spacing: -0.5px;
      cursor: pointer;
      border: 1px solid rgb(206, 212, 218);
      border-radius: 4px;
    }

    input[type='radio']:checked + label {
      border-color: rgb(73, 80, 87);
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    padding: 5px 25px;
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
  }

  .confirmButton {
    color: colors.$GRAYD;
    background-color: colors.$MODAL_BUTTON_BACKGROUND;

    &:hover {
      color: colors.$GRAYE;
      background-color: colors.$MODAL_BUTTON_HOVER_BACKGROUND;
    }

    &:active {
      background-color: colors.$MODAL_BUTTON_ACTIVE_BACKGROUND;
    }
  }

  .cancelButton {
    width: fit-content;
    color: colors.$GRAY2;

    &:hover {
      color: colors.$GRAYA;
    }

    &:active {
      color: colors.$GRAY2;
    }
  }
}

.poster {
  text-align: center;

  img {
    max-height: 250px;
    object-fit: contain;
  }
}
