// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// background
$MAIN_BACKGROUND: #f6f7f8;
$CONTENTS_BACKGROUND: rgb(255, 255, 255);
$GRAY800: #3a474e;
$GRAY50: #edeff1;
$GRAY300: #94a2ad;

// Modal
$MODAL_BACKGROUND: #1e262a;
$MODAL_HEADER: #1e262a;
$MODAL_BACKDROP_BACKGROUND: #2c2c2ca6;
$MODAL_TEXT: #dfdfdf;
$MODAL_BUTTON_BORDER: #3b3b3b;

$PRIMARY_BUTTON_BACKGROUND: #586cf5;
$PRIMARY_BUTTON_HOVER_BACKGROUND: #6f82fa;
$PRIMARY_BUTTON_ACTIVE_BACKGROUND: #3a4fd8;

$MODAL_BUTTON_CONFIRM_TEXT: #eeeeee;
$MODAL_BUTTON_HOVER_CONFIRM_TEXT: #ebebeb;

// Input Form
$INPUT_TEXT: rgb(73, 80, 87);
$INPUT_BORDER: rgb(206, 212, 218);
$ERROR_TEXT: rgb(211, 20, 20);

// Card
$CARD_BORDER: rgb(206, 206, 206);
$CARD_BORDER_HOVER: rgb(163, 163, 163);
$CARD_BODER_BOTTOM: rgb(237, 239, 241);
$CARD_SUB_TEXT: rgb(148, 162, 173);
