@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.card {
  display: flex;
  flex-direction: column;
  min-width: 203px;
  padding: 16px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$CARD_BORDER;
  border-radius: 10px;
  transition: all 0.3s ease 0s;

  &:hover {
    border: 1px solid colors.$CARD_BORDER_HOVER;
  }

  .header {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid colors.$CARD_BODER_BOTTOM;
    @include flexbox.flexbox(between, center);

    .title {
      font-size: 16px;
      font-weight: bold;
      color: colors.$GRAY800;
    }

    .trashButton {
      position: relative;
      width: auto;
      height: auto;
      padding: 0;

      svg {
        max-width: 15px;
        height: auto;
      }

      &:hover {
        &::after {
          position: absolute;
          top: -5px;
          right: -7px;
          display: inline-block;
          width: 30px;
          height: 30px;
          content: '';
          background-color: rgba(184, 184, 184, 28.1%);
          border-radius: 50px;
        }
      }
    }
  }

  dl {
    display: flex;
    flex-direction: column;

    div {
      @include flexbox.flexbox(between, center);
      width: 100%;
      height: 40px;
      padding: 13px 20px;
      font-size: 12px;
      font-weight: 500;
      border-bottom: 1px solid colors.$CARD_BODER_BOTTOM;
      -webkit-box-align: center;
    }

    dt {
      flex: 2 2 10%;
      color: colors.$CARD_SUB_TEXT;
    }

    dd {
      @include flexbox.flexbox(start, center);
      flex: 3 2 0%;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.2;
      color: colors.$GRAY2;
      -webkit-box-align: center;
      letter-spacing: 0.6px;
    }
  }

  .updateButton {
    @include flexbox.flexbox;
    box-sizing: border-box;
    width: 90px;
    height: 40px;
    padding: 12px 20px;
    margin: 15px 0 10px;
    font-weight: bold;
    color: colors.$GRAY2;
    cursor: pointer;
    background-color: colors.$WHITE;
    border: 1px solid colors.$CARD_BORDER;
    border-radius: 10px;

    &:hover {
      color: colors.$CARD_SUB_TEXT;
    }
  }
}
