@use '/src/styles/constants/colors';

$ASSET_PATH: '/assets/svgs/';

.select {
  position: relative;

  .categoryIndicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .selected {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 5px 14px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(209, 216, 220);
    border-radius: 10px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
  }

  ul {
    position: absolute;
    top: 45px;
    z-index: 4;
    width: 100%;
    height: auto;
    padding-left: 0;
    overflow-y: auto;
    cursor: pointer;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 13%) 0 10px 20px;
    opacity: 0;
    transition: all 0.2s ease-out;

    li {
      button {
        width: 100%;
        padding: 12px 20px;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.downArrowIcon {
  &:hover {
    cursor: pointer;
  }
  transition: transform 0.3s linear;
  transform: rotate(0deg);
}

.selectMenuOpen {
  transition: transform 0.3s linear;
  transform: rotate(-180deg);
}

.isOpenSelect {
  ul {
    display: block;
    opacity: 1;
  }

  .selected::after {
    transform: rotate(180deg);
  }
}

.large {
  width: 220px;
  height: 60px;

  > button {
    height: 60px !important;
    padding: 15px;
  }
}

.medium {
  width: 135px;
}

.small {
  width: 110px;

  > button {
    padding: 8px !important;
  }
}
