@use '/src/styles/constants/colors';

.currentStatusOfMediumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  padding: 40px;
  background-color: colors.$CONTENTS_BACKGROUND;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 10%);

  .tableContent {
    table {
      width: 800px;
      min-width: 100%;
      margin-top: 60px;
      table-layout: fixed;
    }
  }

  .rechartsWrapper {
    .rechartsLegendWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 0 45px 0 30px;
      font-size: 12px;
      font-weight: 500;
      color: rgb(148, 162, 173);

      .textWrapper {
        display: flex;
        align-items: center;

        .circle {
          width: 10px;
          height: 10px;
          margin-right: 20px;
          margin-left: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
