@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

$ASSET_PATH: '/assets/svgs/';

.main {
  padding: 20px;
  margin: 10px;
  margin-top: 40px;
  overflow: scroll;
  border-radius: 20px;

  @include responsive.after(MD) {
    padding: 30px;
    margin: 30px;
  }
}

.mainHeader {
  width: 100%;

  h2 {
    font-size: 20px;
    font-weight: 700;
  }
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;

  .headerButton {
    padding: 10px 20px;
    color: colors.$WHITE;
    background-color: #586cf5;
    border-radius: 10px;

    &:hover {
      background-color: #6f82fa;
    }
  }

  @include responsive.between(M, SD) {
    flex-direction: column;

    > div {
      width: 100%;

      > button {
        width: 100% !important;
      }
    }

    .headerButton {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;

  @include responsive.after(ML) {
    grid-gap: 30px;
  }

  @include responsive.after(SD) {
    grid-gap: 30px;
  }

  @include responsive.after(LD) {
    grid-gap: 20px;
  }
}
