@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

$ASSET_PATH: '/assets/svgs/';

.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 40px;

  h2 {
    font-size: 26px;
    font-weight: 900;
  }
}

.containerHeader {
  @include flexbox.flexbox(between, center);
  width: 100%;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;

  .headerButton {
    padding: 10px 20px;
    color: colors.$WHITE;
    background-color: #586cf5;
    border-radius: 10px;

    &:hover {
      background-color: #6f82fa;
    }

    &:active {
      background-color: colors.$MODAL_BUTTON_ACTIVE_BACKGROUND;
    }
  }

  @include responsive.between(M, SD) {
    flex-direction: column;

    > div {
      width: 100%;

      > button {
        width: 100% !important;
      }
    }

    .headerButton {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
  grid-gap: 10px;

  @include responsive.after(ML) {
    grid-gap: 30px;
  }

  @include responsive.after(SD) {
    grid-gap: 30px;
  }

  @include responsive.after(LD) {
    grid-gap: 20px;
  }
}
