@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.headerContainer {
  display: flex;
  flex: 1 2 0%;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  height: 80px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  border-bottom: 1px solid colors.$GRAY50;

  div {
    display: flex;
    align-items: center;
    width: auto;
  }

  .meneOpenButton {
    display: none;
    padding-left: 0;

    svg {
      max-width: 30px;
    }
    @include responsive.mobileOnly {
      display: block;
    }
  }

  .meneOpenClick {
    padding-left: 280px;
    margin-right: 10px;
  }
}

.profileContainer {
  display: flex;
  align-items: center;
}

.notifyIcon {
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }
}

.settingIcon {
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }
}

.profileIcon {
  margin-right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.userName {
  font-size: 14px;
  color: colors.$GRAY800;
}
