@use '/src/styles/constants/colors';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 800px;
  height: 80px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  border-bottom: 1px solid colors.$GRAY50;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.notifyIcon {
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }
}

.settingIcon {
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }
}

.profileIcon {
  margin-right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.userName {
  font-size: 14px;
  color: colors.$GRAY800;
}
