.calendarModalContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-left: auto;
}

.button {
  width: 40px;
  height: 30px;
  margin-left: auto;
  border: 1px solid black;
}
