@use '/src/styles/constants/colors';

.main {
  // min-width: 1000px;
}

.header {
  display: flex;
  align-items: center;
  // min-width: 900px;
  height: 80px;
  margin-right: 40px;
  margin-left: 40px;

  h2 {
    font-size: 26px;
    font-weight: 900;
  }
}

.calendarContainer {
  position: relative;
  display: flex;
  margin-left: auto;
}

.calendarOpenButton {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: auto;
  border: none;
}

.calendar {
  position: absolute;
  top: 0;
  left: -450px;
  z-index: 1000;
}
