@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;

  svg {
    max-width: 100px;
    max-height: 100px;
    animation: rotation 0.9s linear infinite;

    path {
      fill: colors.$GRAY6;
    }
  }
}
