@use '/src/styles/mixins/responsive';

.container {
  padding: 30px 40px;
  margin: 10px 30px;
  margin-top: 40px;
  overflow: scroll;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 5%) 0 4px 10px;

  @include responsive.mobileOnly {
    padding: 30px;
    margin: 10px 20px;
  }
}
